<ion-header>
  <ion-toolbar>
    <ion-title>e404</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center ion-padding">
  <ion-img src="assets/logo-duoc-fblanco.jpg"> </ion-img>
  </div>

  <div class="ion-text-center ion-padding">
  <ion-label> Oh no, algo se rompio !\n se le direccionara al login </ion-label> 
  </div>
</ion-content>

<ion-footer style="background-color:yellow;" >
  <br>
  <ion-label>
    <ion-text>¡Contactanos!</ion-text>
    <div><br></div>
    <div><br></div>
    <div><ion-text>Mesa de Servicios</ion-text></div>
    <div><ion-text>(+56) 44220 1098</ion-text></div>
    
            <!--boton para volver-->

            <ion-item>
              <ion-buttons slot="start">
                <ion-back-button defaultHref="/" mode="md"></ion-back-button>
                <ion-text>Volver </ion-text>
              </ion-buttons>
              </ion-item>

  </ion-label>
</ion-footer>